<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.netloan.dao.finance.FinanceOverdueFineMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.netloan.entity.finance.FinanceOverdueFine" >
    <id column="temp_finance_overdue_fine_overdue_fine_id" property="overdueFineId" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_overdue_fine_set_id" property="overdueFineSetId" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_overdue_fine_set_name" property="overdueFineSetName" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_repay_notes_detail_id" property="repayNotesDetailId" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_overdue_fine_money" property="overdueFineMoney" jdbcType="REAL" />
    <result column="temp_finance_overdue_fine_should_pay_date" property="shouldPayDate" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_actual_pay_date" property="actualPayDate" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_audit_state" property="auditState" jdbcType="CHAR" />
    <result column="temp_finance_overdue_fine_auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_audit_remark" property="auditRemark" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    
    
  
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_finance_overdue_fine.overdue_fine_id as temp_finance_overdue_fine_overdue_fine_id, 
    temp_finance_overdue_fine.overdue_fine_set_id as temp_finance_overdue_fine_overdue_fine_set_id, 
    temp_finance_overdue_fine.overdue_fine_set_name as temp_finance_overdue_fine_overdue_fine_set_name, 
    temp_finance_overdue_fine.member_id as temp_finance_overdue_fine_member_id, temp_finance_overdue_fine.repay_notes_detail_id as temp_finance_overdue_fine_repay_notes_detail_id, 
    temp_finance_overdue_fine.overdue_fine_money as temp_finance_overdue_fine_overdue_fine_money, 
    temp_finance_overdue_fine.should_pay_date as temp_finance_overdue_fine_should_pay_date, 
    temp_finance_overdue_fine.actual_pay_date as temp_finance_overdue_fine_actual_pay_date, 
    temp_finance_overdue_fine.audit_state as temp_finance_overdue_fine_audit_state, temp_finance_overdue_fine.auditor as temp_finance_overdue_fine_auditor, 
    temp_finance_overdue_fine.audit_date as temp_finance_overdue_fine_audit_date, temp_finance_overdue_fine.audit_remark as temp_finance_overdue_fine_audit_remark, 
    temp_finance_overdue_fine.remark as temp_finance_overdue_fine_remark, temp_finance_overdue_fine.creater as temp_finance_overdue_fine_creater, 
    temp_finance_overdue_fine.create_time as temp_finance_overdue_fine_create_time, temp_finance_overdue_fine.updater as temp_finance_overdue_fine_updater, 
    temp_finance_overdue_fine.update_time as temp_finance_overdue_fine_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_finance_overdue_fine temp_finance_overdue_fine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_finance_overdue_fine temp_finance_overdue_fine
    where temp_finance_overdue_fine.overdue_fine_id = #{overdueFineId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_finance_overdue_fine
    where overdue_fine_id = #{overdueFineId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineExample" >
    delete from t_finance_overdue_fine temp_finance_overdue_fine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFine" >
    insert into t_finance_overdue_fine (overdue_fine_id, overdue_fine_set_id, 
      overdue_fine_set_name, member_id, repay_notes_detail_id, 
      overdue_fine_money, should_pay_date, actual_pay_date, 
      audit_state, auditor, audit_date, 
      audit_remark, remark, creater, 
      create_time, updater, update_time
      )
    values (#{overdueFineId,jdbcType=VARCHAR}, #{overdueFineSetId,jdbcType=VARCHAR}, 
      #{overdueFineSetName,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{repayNotesDetailId,jdbcType=VARCHAR}, 
      #{overdueFineMoney,jdbcType=REAL}, #{shouldPayDate,jdbcType=TIMESTAMP}, #{actualPayDate,jdbcType=TIMESTAMP}, 
      #{auditState,jdbcType=CHAR}, #{auditor,jdbcType=VARCHAR}, #{auditDate,jdbcType=TIMESTAMP}, 
      #{auditRemark,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFine" >
    insert into t_finance_overdue_fine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="overdueFineId != null" >
        overdue_fine_id,
      </if>
      <if test="overdueFineSetId != null" >
        overdue_fine_set_id,
      </if>
      <if test="overdueFineSetName != null" >
        overdue_fine_set_name,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="repayNotesDetailId != null" >
        repay_notes_detail_id,
      </if>
      <if test="overdueFineMoney != null" >
        overdue_fine_money,
      </if>
      <if test="shouldPayDate != null" >
        should_pay_date,
      </if>
      <if test="actualPayDate != null" >
        actual_pay_date,
      </if>
      <if test="auditState != null" >
        audit_state,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="auditRemark != null" >
        audit_remark,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="overdueFineId != null" >
        #{overdueFineId,jdbcType=VARCHAR},
      </if>
      <if test="overdueFineSetId != null" >
        #{overdueFineSetId,jdbcType=VARCHAR},
      </if>
      <if test="overdueFineSetName != null" >
        #{overdueFineSetName,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="repayNotesDetailId != null" >
        #{repayNotesDetailId,jdbcType=VARCHAR},
      </if>
      <if test="overdueFineMoney != null" >
        #{overdueFineMoney,jdbcType=REAL},
      </if>
      <if test="shouldPayDate != null" >
        #{shouldPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPayDate != null" >
        #{actualPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null" >
        #{auditState,jdbcType=CHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null" >
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineExample" resultType="java.lang.Integer" >
    select count(*) from t_finance_overdue_fine temp_finance_overdue_fine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_finance_overdue_fine temp_finance_overdue_fine
    <set >
      <if test="record.overdueFineId != null" >
        temp_finance_overdue_fine.overdue_fine_id = #{record.overdueFineId,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueFineSetId != null" >
        temp_finance_overdue_fine.overdue_fine_set_id = #{record.overdueFineSetId,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueFineSetName != null" >
        temp_finance_overdue_fine.overdue_fine_set_name = #{record.overdueFineSetName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null" >
        temp_finance_overdue_fine.member_id = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.repayNotesDetailId != null" >
        temp_finance_overdue_fine.repay_notes_detail_id = #{record.repayNotesDetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueFineMoney != null" >
        temp_finance_overdue_fine.overdue_fine_money = #{record.overdueFineMoney,jdbcType=REAL},
      </if>
      <if test="record.shouldPayDate != null" >
        temp_finance_overdue_fine.should_pay_date = #{record.shouldPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualPayDate != null" >
        temp_finance_overdue_fine.actual_pay_date = #{record.actualPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditState != null" >
        temp_finance_overdue_fine.audit_state = #{record.auditState,jdbcType=CHAR},
      </if>
      <if test="record.auditor != null" >
        temp_finance_overdue_fine.auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.auditDate != null" >
        temp_finance_overdue_fine.audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditRemark != null" >
        temp_finance_overdue_fine.audit_remark = #{record.auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        temp_finance_overdue_fine.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_finance_overdue_fine.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_finance_overdue_fine.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_finance_overdue_fine.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_finance_overdue_fine.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_finance_overdue_fine temp_finance_overdue_fine
    set temp_finance_overdue_fine.overdue_fine_id = #{record.overdueFineId,jdbcType=VARCHAR},
      temp_finance_overdue_fine.overdue_fine_set_id = #{record.overdueFineSetId,jdbcType=VARCHAR},
      temp_finance_overdue_fine.overdue_fine_set_name = #{record.overdueFineSetName,jdbcType=VARCHAR},
      temp_finance_overdue_fine.member_id = #{record.memberId,jdbcType=VARCHAR},
      temp_finance_overdue_fine.repay_notes_detail_id = #{record.repayNotesDetailId,jdbcType=VARCHAR},
      temp_finance_overdue_fine.overdue_fine_money = #{record.overdueFineMoney,jdbcType=REAL},
      temp_finance_overdue_fine.should_pay_date = #{record.shouldPayDate,jdbcType=TIMESTAMP},
      temp_finance_overdue_fine.actual_pay_date = #{record.actualPayDate,jdbcType=TIMESTAMP},
      temp_finance_overdue_fine.audit_state = #{record.auditState,jdbcType=CHAR},
      temp_finance_overdue_fine.auditor = #{record.auditor,jdbcType=VARCHAR},
      temp_finance_overdue_fine.audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      temp_finance_overdue_fine.audit_remark = #{record.auditRemark,jdbcType=VARCHAR},
      temp_finance_overdue_fine.remark = #{record.remark,jdbcType=VARCHAR},
      temp_finance_overdue_fine.creater = #{record.creater,jdbcType=VARCHAR},
      temp_finance_overdue_fine.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_finance_overdue_fine.updater = #{record.updater,jdbcType=VARCHAR},
      temp_finance_overdue_fine.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFine" >
    update t_finance_overdue_fine
    <set >
      <if test="overdueFineSetId != null" >
        overdue_fine_set_id = #{overdueFineSetId,jdbcType=VARCHAR},
      </if>
      <if test="overdueFineSetName != null" >
        overdue_fine_set_name = #{overdueFineSetName,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="repayNotesDetailId != null" >
        repay_notes_detail_id = #{repayNotesDetailId,jdbcType=VARCHAR},
      </if>
      <if test="overdueFineMoney != null" >
        overdue_fine_money = #{overdueFineMoney,jdbcType=REAL},
      </if>
      <if test="shouldPayDate != null" >
        should_pay_date = #{shouldPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPayDate != null" >
        actual_pay_date = #{actualPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null" >
        audit_state = #{auditState,jdbcType=CHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null" >
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where overdue_fine_id = #{overdueFineId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFine" >
    update t_finance_overdue_fine
    set overdue_fine_set_id = #{overdueFineSetId,jdbcType=VARCHAR},
      overdue_fine_set_name = #{overdueFineSetName,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=VARCHAR},
      repay_notes_detail_id = #{repayNotesDetailId,jdbcType=VARCHAR},
      overdue_fine_money = #{overdueFineMoney,jdbcType=REAL},
      should_pay_date = #{shouldPayDate,jdbcType=TIMESTAMP},
      actual_pay_date = #{actualPayDate,jdbcType=TIMESTAMP},
      audit_state = #{auditState,jdbcType=CHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where overdue_fine_id = #{overdueFineId,jdbcType=VARCHAR}
  </update>
</mapper>