<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.netloan.dao.finance.FinanceOverdueFineSetMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.netloan.entity.finance.FinanceOverdueFineSet" >
    <id column="temp_finance_overdue_fine_set_overdue_fine_set_id" property="overdueFineSetId" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_overdue_fine_set_name" property="overdueFineSetName" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_member_type" property="memberType" jdbcType="CHAR" />
    <result column="temp_finance_overdue_fine_set_member_privilege" property="memberPrivilege" jdbcType="CHAR" />
    <result column="temp_finance_overdue_fine_set_vip_days" property="vipDays" jdbcType="REAL" />
    <result column="temp_finance_overdue_fine_set_value" property="value" jdbcType="REAL" />
    <result column="temp_finance_overdue_fine_set_fee_way" property="feeWay" jdbcType="CHAR" />
    <result column="temp_finance_overdue_fine_set_audit_state" property="auditState" jdbcType="CHAR" />
    <result column="temp_finance_overdue_fine_set_auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_set_audit_remark" property="auditRemark" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_money" property="money" jdbcType="REAL" />
    <result column="temp_finance_overdue_fine_set_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_set_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_finance_overdue_fine_set_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="temp_finance_overdue_fine_set_auditor_display" property="auditorDisplay" jdbcType="VARCHAR"/> <!--自定义扩展字段 -->
    <result column="temp_finance_overdue_fine_set_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!--自定义扩展字段 -->
    <result column="temp_finance_overdue_fine_set_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!--自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_finance_overdue_fine_set.overdue_fine_set_id as temp_finance_overdue_fine_set_overdue_fine_set_id, 
    temp_finance_overdue_fine_set.overdue_fine_set_name as temp_finance_overdue_fine_set_overdue_fine_set_name, 
    temp_finance_overdue_fine_set.member_type as temp_finance_overdue_fine_set_member_type, 
    temp_finance_overdue_fine_set.member_privilege as temp_finance_overdue_fine_set_member_privilege, 
    temp_finance_overdue_fine_set.vip_days as temp_finance_overdue_fine_set_vip_days, 
    temp_finance_overdue_fine_set.value as temp_finance_overdue_fine_set_value, temp_finance_overdue_fine_set.fee_way as temp_finance_overdue_fine_set_fee_way, 
    temp_finance_overdue_fine_set.audit_state as temp_finance_overdue_fine_set_audit_state, 
    temp_finance_overdue_fine_set.auditor as temp_finance_overdue_fine_set_auditor, temp_finance_overdue_fine_set.audit_date as temp_finance_overdue_fine_set_audit_date, 
    temp_finance_overdue_fine_set.audit_remark as temp_finance_overdue_fine_set_audit_remark, 
    temp_finance_overdue_fine_set.money as temp_finance_overdue_fine_set_money, temp_finance_overdue_fine_set.remark as temp_finance_overdue_fine_set_remark, 
    temp_finance_overdue_fine_set.creater as temp_finance_overdue_fine_set_creater, temp_finance_overdue_fine_set.create_time as temp_finance_overdue_fine_set_create_time, 
    temp_finance_overdue_fine_set.updater as temp_finance_overdue_fine_set_updater, temp_finance_overdue_fine_set.update_time as temp_finance_overdue_fine_set_update_time
    <!-- 以下字段属于扩展 -->
    ,temp_auditor.user_cn_name as temp_finance_overdue_fine_set_auditor_display
    ,temp_creater.user_cn_name as temp_finance_overdue_fine_set_creater_display
    ,temp_updater.user_cn_name as temp_finance_overdue_fine_set_updater_display
  </sql>
  <sql id="Base_extend">
  	 LEFT JOIN t_user temp_auditor ON temp_auditor.user_id = temp_finance_overdue_fine_set.auditor <!-- 扩展 -->
  	 LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_finance_overdue_fine_set.creater <!-- 扩展 -->
     LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_finance_overdue_fine_set.updater <!-- 扩展 -->
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_finance_overdue_fine_set temp_finance_overdue_fine_set
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_finance_overdue_fine_set temp_finance_overdue_fine_set
    <include refid="Base_extend" />
    where temp_finance_overdue_fine_set.overdue_fine_set_id = #{overdueFineSetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_finance_overdue_fine_set
    where overdue_fine_set_id = #{overdueFineSetId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSetExample" >
    delete temp_finance_overdue_fine_set from t_finance_overdue_fine_set temp_finance_overdue_fine_set
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSet" >
    insert into t_finance_overdue_fine_set (overdue_fine_set_id, overdue_fine_set_name, 
      member_type, member_privilege, vip_days, 
      value, fee_way, audit_state, auditor, 
      audit_date, audit_remark, money, 
      remark, creater, create_time, 
      updater, update_time)
    values (#{overdueFineSetId,jdbcType=VARCHAR}, #{overdueFineSetName,jdbcType=VARCHAR}, 
      #{memberType,jdbcType=CHAR}, #{memberPrivilege,jdbcType=CHAR}, #{vipDays,jdbcType=REAL}, 
      #{value,jdbcType=REAL}, #{feeWay,jdbcType=CHAR}, #{auditState,jdbcType=CHAR}, #{auditor,jdbcType=VARCHAR}, 
      #{auditDate,jdbcType=TIMESTAMP}, #{auditRemark,jdbcType=VARCHAR}, #{money,jdbcType=REAL}, 
      #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSet" >
    insert into t_finance_overdue_fine_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="overdueFineSetId != null" >
        overdue_fine_set_id,
      </if>
      <if test="overdueFineSetName != null" >
        overdue_fine_set_name,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="memberPrivilege != null" >
        member_privilege,
      </if>
      <if test="vipDays != null" >
        vip_days,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="feeWay != null" >
        fee_way,
      </if>
      <if test="auditState != null" >
        audit_state,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="auditRemark != null" >
        audit_remark,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="overdueFineSetId != null" >
        #{overdueFineSetId,jdbcType=VARCHAR},
      </if>
      <if test="overdueFineSetName != null" >
        #{overdueFineSetName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=CHAR},
      </if>
      <if test="memberPrivilege != null" >
        #{memberPrivilege,jdbcType=CHAR},
      </if>
      <if test="vipDays != null" >
        #{vipDays,jdbcType=REAL},
      </if>
      <if test="value != null" >
        #{value,jdbcType=REAL},
      </if>
      <if test="feeWay != null" >
        #{feeWay,jdbcType=CHAR},
      </if>
      <if test="auditState != null" >
        #{auditState,jdbcType=CHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null" >
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSetExample" resultType="java.lang.Integer" >
    select count(*) from t_finance_overdue_fine_set temp_finance_overdue_fine_set
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_finance_overdue_fine_set temp_finance_overdue_fine_set
    <set >
      <if test="record.overdueFineSetId != null" >
        temp_finance_overdue_fine_set.overdue_fine_set_id = #{record.overdueFineSetId,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueFineSetName != null" >
        temp_finance_overdue_fine_set.overdue_fine_set_name = #{record.overdueFineSetName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null" >
        temp_finance_overdue_fine_set.member_type = #{record.memberType,jdbcType=CHAR},
      </if>
      <if test="record.memberPrivilege != null" >
        temp_finance_overdue_fine_set.member_privilege = #{record.memberPrivilege,jdbcType=CHAR},
      </if>
      <if test="record.vipDays != null" >
        temp_finance_overdue_fine_set.vip_days = #{record.vipDays,jdbcType=REAL},
      </if>
      <if test="record.value != null" >
        temp_finance_overdue_fine_set.value = #{record.value,jdbcType=REAL},
      </if>
      <if test="record.feeWay != null" >
        temp_finance_overdue_fine_set.fee_way = #{record.feeWay,jdbcType=CHAR},
      </if>
      <if test="record.auditState != null" >
        temp_finance_overdue_fine_set.audit_state = #{record.auditState,jdbcType=CHAR},
      </if>
      <if test="record.auditor != null" >
        temp_finance_overdue_fine_set.auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.auditDate != null" >
        temp_finance_overdue_fine_set.audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditRemark != null" >
        temp_finance_overdue_fine_set.audit_remark = #{record.auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        temp_finance_overdue_fine_set.money = #{record.money,jdbcType=REAL},
      </if>
      <if test="record.remark != null" >
        temp_finance_overdue_fine_set.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_finance_overdue_fine_set.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_finance_overdue_fine_set.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_finance_overdue_fine_set.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_finance_overdue_fine_set.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_finance_overdue_fine_set temp_finance_overdue_fine_set
    set temp_finance_overdue_fine_set.overdue_fine_set_id = #{record.overdueFineSetId,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.overdue_fine_set_name = #{record.overdueFineSetName,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.member_type = #{record.memberType,jdbcType=CHAR},
      temp_finance_overdue_fine_set.member_privilege = #{record.memberPrivilege,jdbcType=CHAR},
      temp_finance_overdue_fine_set.vip_days = #{record.vipDays,jdbcType=REAL},
      temp_finance_overdue_fine_set.value = #{record.value,jdbcType=REAL},
      temp_finance_overdue_fine_set.fee_way = #{record.feeWay,jdbcType=CHAR},
      temp_finance_overdue_fine_set.audit_state = #{record.auditState,jdbcType=CHAR},
      temp_finance_overdue_fine_set.auditor = #{record.auditor,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      temp_finance_overdue_fine_set.audit_remark = #{record.auditRemark,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.money = #{record.money,jdbcType=REAL},
      temp_finance_overdue_fine_set.remark = #{record.remark,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.creater = #{record.creater,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_finance_overdue_fine_set.updater = #{record.updater,jdbcType=VARCHAR},
      temp_finance_overdue_fine_set.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSet" >
    update t_finance_overdue_fine_set
    <set >
      <if test="overdueFineSetName != null" >
        overdue_fine_set_name = #{overdueFineSetName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType,jdbcType=CHAR},
      </if>
      <if test="memberPrivilege != null" >
        member_privilege = #{memberPrivilege,jdbcType=CHAR},
      </if>
      <if test="vipDays != null" >
        vip_days = #{vipDays,jdbcType=REAL},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=REAL},
      </if>
      <if test="feeWay != null" >
        fee_way = #{feeWay,jdbcType=CHAR},
      </if>
      <if test="auditState != null" >
        audit_state = #{auditState,jdbcType=CHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null" >
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where overdue_fine_set_id = #{overdueFineSetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.netloan.entity.finance.FinanceOverdueFineSet" >
    update t_finance_overdue_fine_set
    set overdue_fine_set_name = #{overdueFineSetName,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=CHAR},
      member_privilege = #{memberPrivilege,jdbcType=CHAR},
      vip_days = #{vipDays,jdbcType=REAL},
      value = #{value,jdbcType=REAL},
      fee_way = #{feeWay,jdbcType=CHAR},
      audit_state = #{auditState,jdbcType=CHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where overdue_fine_set_id = #{overdueFineSetId,jdbcType=VARCHAR}
  </update>
</mapper>