<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.netloan.dao.member.MemberAuthMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.netloan.entity.member.MemberAuth" >
    <id column="temp_member_auth_member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="temp_member_auth_info_auth" property="infoAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_info_auditor" property="infoAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_info_time" property="infoTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_vip_auth" property="vipAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_vip_auditor" property="vipAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_vip_time" property="vipTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_email_auth" property="emailAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_email_auditor" property="emailAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_email_time" property="emailTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_mobile_auth" property="mobileAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_mobile_auditor" property="mobileAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_mobile_time" property="mobileTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_credit_auth" property="creditAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_credit_auditor" property="creditAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_credit_time" property="creditTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_company_auth" property="companyAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_company_auditor" property="companyAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_company_time" property="companyTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_real_name_auth" property="realNameAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_real_name_auditor" property="realNameAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_real_name_time" property="realNameTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_id_card_auth" property="idCardAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_id_card_auditor" property="idCardAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_id_card_time" property="idCardTime" jdbcType="TIMESTAMP" />
    <result column="temp_member_auth_work_auth" property="workAuth" jdbcType="CHAR" />
    <result column="temp_member_auth_work_auditor" property="workAuditor" jdbcType="VARCHAR" />
    <result column="temp_member_auth_work_time" property="workTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_member_auth.member_id as temp_member_auth_member_id, temp_member_auth.info_auth as temp_member_auth_info_auth, 
    temp_member_auth.info_auditor as temp_member_auth_info_auditor, temp_member_auth.info_time as temp_member_auth_info_time, 
    temp_member_auth.vip_auth as temp_member_auth_vip_auth, temp_member_auth.vip_auditor as temp_member_auth_vip_auditor, 
    temp_member_auth.vip_time as temp_member_auth_vip_time, temp_member_auth.email_auth as temp_member_auth_email_auth, 
    temp_member_auth.email_auditor as temp_member_auth_email_auditor, temp_member_auth.email_time as temp_member_auth_email_time, 
    temp_member_auth.mobile_auth as temp_member_auth_mobile_auth, temp_member_auth.mobile_auditor as temp_member_auth_mobile_auditor, 
    temp_member_auth.mobile_time as temp_member_auth_mobile_time, temp_member_auth.credit_auth as temp_member_auth_credit_auth, 
    temp_member_auth.credit_auditor as temp_member_auth_credit_auditor, temp_member_auth.credit_time as temp_member_auth_credit_time, 
    temp_member_auth.company_auth as temp_member_auth_company_auth, temp_member_auth.company_auditor as temp_member_auth_company_auditor, 
    temp_member_auth.company_time as temp_member_auth_company_time, temp_member_auth.real_name_auth as temp_member_auth_real_name_auth, 
    temp_member_auth.real_name_auditor as temp_member_auth_real_name_auditor, temp_member_auth.real_name_time as temp_member_auth_real_name_time, 
    temp_member_auth.id_card_auth as temp_member_auth_id_card_auth, temp_member_auth.id_card_auditor as temp_member_auth_id_card_auditor, 
    temp_member_auth.id_card_time as temp_member_auth_id_card_time, temp_member_auth.work_auth as temp_member_auth_work_auth, 
    temp_member_auth.work_auditor as temp_member_auth_work_auditor, temp_member_auth.work_time as temp_member_auth_work_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.netloan.entity.member.MemberAuthExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_member_auth temp_member_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_member_auth temp_member_auth
    where temp_member_auth.member_id = #{memberId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_member_auth
    where member_id = #{memberId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.netloan.entity.member.MemberAuthExample" >
    delete from t_member_auth temp_member_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.netloan.entity.member.MemberAuth" >
    insert into t_member_auth (member_id, info_auth, info_auditor, 
      info_time, vip_auth, vip_auditor, 
      vip_time, email_auth, email_auditor, 
      email_time, mobile_auth, mobile_auditor, 
      mobile_time, credit_auth, credit_auditor, 
      credit_time, company_auth, company_auditor, 
      company_time, real_name_auth, real_name_auditor, 
      real_name_time, id_card_auth, id_card_auditor, 
      id_card_time, work_auth, work_auditor, 
      work_time)
    values (#{memberId,jdbcType=VARCHAR}, #{infoAuth,jdbcType=CHAR}, #{infoAuditor,jdbcType=VARCHAR}, 
      #{infoTime,jdbcType=TIMESTAMP}, #{vipAuth,jdbcType=CHAR}, #{vipAuditor,jdbcType=VARCHAR}, 
      #{vipTime,jdbcType=TIMESTAMP}, #{emailAuth,jdbcType=CHAR}, #{emailAuditor,jdbcType=VARCHAR}, 
      #{emailTime,jdbcType=TIMESTAMP}, #{mobileAuth,jdbcType=CHAR}, #{mobileAuditor,jdbcType=VARCHAR}, 
      #{mobileTime,jdbcType=TIMESTAMP}, #{creditAuth,jdbcType=CHAR}, #{creditAuditor,jdbcType=VARCHAR}, 
      #{creditTime,jdbcType=TIMESTAMP}, #{companyAuth,jdbcType=CHAR}, #{companyAuditor,jdbcType=VARCHAR}, 
      #{companyTime,jdbcType=TIMESTAMP}, #{realNameAuth,jdbcType=CHAR}, #{realNameAuditor,jdbcType=VARCHAR}, 
      #{realNameTime,jdbcType=TIMESTAMP}, #{idCardAuth,jdbcType=CHAR}, #{idCardAuditor,jdbcType=VARCHAR}, 
      #{idCardTime,jdbcType=TIMESTAMP}, #{workAuth,jdbcType=CHAR}, #{workAuditor,jdbcType=VARCHAR}, 
      #{workTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.netloan.entity.member.MemberAuth" >
    insert into t_member_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="infoAuth != null" >
        info_auth,
      </if>
      <if test="infoAuditor != null" >
        info_auditor,
      </if>
      <if test="infoTime != null" >
        info_time,
      </if>
      <if test="vipAuth != null" >
        vip_auth,
      </if>
      <if test="vipAuditor != null" >
        vip_auditor,
      </if>
      <if test="vipTime != null" >
        vip_time,
      </if>
      <if test="emailAuth != null" >
        email_auth,
      </if>
      <if test="emailAuditor != null" >
        email_auditor,
      </if>
      <if test="emailTime != null" >
        email_time,
      </if>
      <if test="mobileAuth != null" >
        mobile_auth,
      </if>
      <if test="mobileAuditor != null" >
        mobile_auditor,
      </if>
      <if test="mobileTime != null" >
        mobile_time,
      </if>
      <if test="creditAuth != null" >
        credit_auth,
      </if>
      <if test="creditAuditor != null" >
        credit_auditor,
      </if>
      <if test="creditTime != null" >
        credit_time,
      </if>
      <if test="companyAuth != null" >
        company_auth,
      </if>
      <if test="companyAuditor != null" >
        company_auditor,
      </if>
      <if test="companyTime != null" >
        company_time,
      </if>
      <if test="realNameAuth != null" >
        real_name_auth,
      </if>
      <if test="realNameAuditor != null" >
        real_name_auditor,
      </if>
      <if test="realNameTime != null" >
        real_name_time,
      </if>
      <if test="idCardAuth != null" >
        id_card_auth,
      </if>
      <if test="idCardAuditor != null" >
        id_card_auditor,
      </if>
      <if test="idCardTime != null" >
        id_card_time,
      </if>
      <if test="workAuth != null" >
        work_auth,
      </if>
      <if test="workAuditor != null" >
        work_auditor,
      </if>
      <if test="workTime != null" >
        work_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="infoAuth != null" >
        #{infoAuth,jdbcType=CHAR},
      </if>
      <if test="infoAuditor != null" >
        #{infoAuditor,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null" >
        #{infoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipAuth != null" >
        #{vipAuth,jdbcType=CHAR},
      </if>
      <if test="vipAuditor != null" >
        #{vipAuditor,jdbcType=VARCHAR},
      </if>
      <if test="vipTime != null" >
        #{vipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailAuth != null" >
        #{emailAuth,jdbcType=CHAR},
      </if>
      <if test="emailAuditor != null" >
        #{emailAuditor,jdbcType=VARCHAR},
      </if>
      <if test="emailTime != null" >
        #{emailTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobileAuth != null" >
        #{mobileAuth,jdbcType=CHAR},
      </if>
      <if test="mobileAuditor != null" >
        #{mobileAuditor,jdbcType=VARCHAR},
      </if>
      <if test="mobileTime != null" >
        #{mobileTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creditAuth != null" >
        #{creditAuth,jdbcType=CHAR},
      </if>
      <if test="creditAuditor != null" >
        #{creditAuditor,jdbcType=VARCHAR},
      </if>
      <if test="creditTime != null" >
        #{creditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyAuth != null" >
        #{companyAuth,jdbcType=CHAR},
      </if>
      <if test="companyAuditor != null" >
        #{companyAuditor,jdbcType=VARCHAR},
      </if>
      <if test="companyTime != null" >
        #{companyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realNameAuth != null" >
        #{realNameAuth,jdbcType=CHAR},
      </if>
      <if test="realNameAuditor != null" >
        #{realNameAuditor,jdbcType=VARCHAR},
      </if>
      <if test="realNameTime != null" >
        #{realNameTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idCardAuth != null" >
        #{idCardAuth,jdbcType=CHAR},
      </if>
      <if test="idCardAuditor != null" >
        #{idCardAuditor,jdbcType=VARCHAR},
      </if>
      <if test="idCardTime != null" >
        #{idCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workAuth != null" >
        #{workAuth,jdbcType=CHAR},
      </if>
      <if test="workAuditor != null" >
        #{workAuditor,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null" >
        #{workTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.netloan.entity.member.MemberAuthExample" resultType="java.lang.Integer" >
    select count(*) from t_member_auth temp_member_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_member_auth temp_member_auth
    <set >
      <if test="record.memberId != null" >
        temp_member_auth.member_id = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoAuth != null" >
        temp_member_auth.info_auth = #{record.infoAuth,jdbcType=CHAR},
      </if>
      <if test="record.infoAuditor != null" >
        temp_member_auth.info_auditor = #{record.infoAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTime != null" >
        temp_member_auth.info_time = #{record.infoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vipAuth != null" >
        temp_member_auth.vip_auth = #{record.vipAuth,jdbcType=CHAR},
      </if>
      <if test="record.vipAuditor != null" >
        temp_member_auth.vip_auditor = #{record.vipAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.vipTime != null" >
        temp_member_auth.vip_time = #{record.vipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.emailAuth != null" >
        temp_member_auth.email_auth = #{record.emailAuth,jdbcType=CHAR},
      </if>
      <if test="record.emailAuditor != null" >
        temp_member_auth.email_auditor = #{record.emailAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.emailTime != null" >
        temp_member_auth.email_time = #{record.emailTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mobileAuth != null" >
        temp_member_auth.mobile_auth = #{record.mobileAuth,jdbcType=CHAR},
      </if>
      <if test="record.mobileAuditor != null" >
        temp_member_auth.mobile_auditor = #{record.mobileAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileTime != null" >
        temp_member_auth.mobile_time = #{record.mobileTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creditAuth != null" >
        temp_member_auth.credit_auth = #{record.creditAuth,jdbcType=CHAR},
      </if>
      <if test="record.creditAuditor != null" >
        temp_member_auth.credit_auditor = #{record.creditAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.creditTime != null" >
        temp_member_auth.credit_time = #{record.creditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyAuth != null" >
        temp_member_auth.company_auth = #{record.companyAuth,jdbcType=CHAR},
      </if>
      <if test="record.companyAuditor != null" >
        temp_member_auth.company_auditor = #{record.companyAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.companyTime != null" >
        temp_member_auth.company_time = #{record.companyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realNameAuth != null" >
        temp_member_auth.real_name_auth = #{record.realNameAuth,jdbcType=CHAR},
      </if>
      <if test="record.realNameAuditor != null" >
        temp_member_auth.real_name_auditor = #{record.realNameAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.realNameTime != null" >
        temp_member_auth.real_name_time = #{record.realNameTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idCardAuth != null" >
        temp_member_auth.id_card_auth = #{record.idCardAuth,jdbcType=CHAR},
      </if>
      <if test="record.idCardAuditor != null" >
        temp_member_auth.id_card_auditor = #{record.idCardAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardTime != null" >
        temp_member_auth.id_card_time = #{record.idCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workAuth != null" >
        temp_member_auth.work_auth = #{record.workAuth,jdbcType=CHAR},
      </if>
      <if test="record.workAuditor != null" >
        temp_member_auth.work_auditor = #{record.workAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.workTime != null" >
        temp_member_auth.work_time = #{record.workTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_member_auth temp_member_auth
    set temp_member_auth.member_id = #{record.memberId,jdbcType=VARCHAR},
      temp_member_auth.info_auth = #{record.infoAuth,jdbcType=CHAR},
      temp_member_auth.info_auditor = #{record.infoAuditor,jdbcType=VARCHAR},
      temp_member_auth.info_time = #{record.infoTime,jdbcType=TIMESTAMP},
      temp_member_auth.vip_auth = #{record.vipAuth,jdbcType=CHAR},
      temp_member_auth.vip_auditor = #{record.vipAuditor,jdbcType=VARCHAR},
      temp_member_auth.vip_time = #{record.vipTime,jdbcType=TIMESTAMP},
      temp_member_auth.email_auth = #{record.emailAuth,jdbcType=CHAR},
      temp_member_auth.email_auditor = #{record.emailAuditor,jdbcType=VARCHAR},
      temp_member_auth.email_time = #{record.emailTime,jdbcType=TIMESTAMP},
      temp_member_auth.mobile_auth = #{record.mobileAuth,jdbcType=CHAR},
      temp_member_auth.mobile_auditor = #{record.mobileAuditor,jdbcType=VARCHAR},
      temp_member_auth.mobile_time = #{record.mobileTime,jdbcType=TIMESTAMP},
      temp_member_auth.credit_auth = #{record.creditAuth,jdbcType=CHAR},
      temp_member_auth.credit_auditor = #{record.creditAuditor,jdbcType=VARCHAR},
      temp_member_auth.credit_time = #{record.creditTime,jdbcType=TIMESTAMP},
      temp_member_auth.company_auth = #{record.companyAuth,jdbcType=CHAR},
      temp_member_auth.company_auditor = #{record.companyAuditor,jdbcType=VARCHAR},
      temp_member_auth.company_time = #{record.companyTime,jdbcType=TIMESTAMP},
      temp_member_auth.real_name_auth = #{record.realNameAuth,jdbcType=CHAR},
      temp_member_auth.real_name_auditor = #{record.realNameAuditor,jdbcType=VARCHAR},
      temp_member_auth.real_name_time = #{record.realNameTime,jdbcType=TIMESTAMP},
      temp_member_auth.id_card_auth = #{record.idCardAuth,jdbcType=CHAR},
      temp_member_auth.id_card_auditor = #{record.idCardAuditor,jdbcType=VARCHAR},
      temp_member_auth.id_card_time = #{record.idCardTime,jdbcType=TIMESTAMP},
      temp_member_auth.work_auth = #{record.workAuth,jdbcType=CHAR},
      temp_member_auth.work_auditor = #{record.workAuditor,jdbcType=VARCHAR},
      temp_member_auth.work_time = #{record.workTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.netloan.entity.member.MemberAuth" >
    update t_member_auth
    <set >
      <if test="infoAuth != null" >
        info_auth = #{infoAuth,jdbcType=CHAR},
      </if>
      <if test="infoAuditor != null" >
        info_auditor = #{infoAuditor,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null" >
        info_time = #{infoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipAuth != null" >
        vip_auth = #{vipAuth,jdbcType=CHAR},
      </if>
      <if test="vipAuditor != null" >
        vip_auditor = #{vipAuditor,jdbcType=VARCHAR},
      </if>
      <if test="vipTime != null" >
        vip_time = #{vipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailAuth != null" >
        email_auth = #{emailAuth,jdbcType=CHAR},
      </if>
      <if test="emailAuditor != null" >
        email_auditor = #{emailAuditor,jdbcType=VARCHAR},
      </if>
      <if test="emailTime != null" >
        email_time = #{emailTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobileAuth != null" >
        mobile_auth = #{mobileAuth,jdbcType=CHAR},
      </if>
      <if test="mobileAuditor != null" >
        mobile_auditor = #{mobileAuditor,jdbcType=VARCHAR},
      </if>
      <if test="mobileTime != null" >
        mobile_time = #{mobileTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creditAuth != null" >
        credit_auth = #{creditAuth,jdbcType=CHAR},
      </if>
      <if test="creditAuditor != null" >
        credit_auditor = #{creditAuditor,jdbcType=VARCHAR},
      </if>
      <if test="creditTime != null" >
        credit_time = #{creditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyAuth != null" >
        company_auth = #{companyAuth,jdbcType=CHAR},
      </if>
      <if test="companyAuditor != null" >
        company_auditor = #{companyAuditor,jdbcType=VARCHAR},
      </if>
      <if test="companyTime != null" >
        company_time = #{companyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realNameAuth != null" >
        real_name_auth = #{realNameAuth,jdbcType=CHAR},
      </if>
      <if test="realNameAuditor != null" >
        real_name_auditor = #{realNameAuditor,jdbcType=VARCHAR},
      </if>
      <if test="realNameTime != null" >
        real_name_time = #{realNameTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idCardAuth != null" >
        id_card_auth = #{idCardAuth,jdbcType=CHAR},
      </if>
      <if test="idCardAuditor != null" >
        id_card_auditor = #{idCardAuditor,jdbcType=VARCHAR},
      </if>
      <if test="idCardTime != null" >
        id_card_time = #{idCardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workAuth != null" >
        work_auth = #{workAuth,jdbcType=CHAR},
      </if>
      <if test="workAuditor != null" >
        work_auditor = #{workAuditor,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null" >
        work_time = #{workTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.netloan.entity.member.MemberAuth" >
    update t_member_auth
    set info_auth = #{infoAuth,jdbcType=CHAR},
      info_auditor = #{infoAuditor,jdbcType=VARCHAR},
      info_time = #{infoTime,jdbcType=TIMESTAMP},
      vip_auth = #{vipAuth,jdbcType=CHAR},
      vip_auditor = #{vipAuditor,jdbcType=VARCHAR},
      vip_time = #{vipTime,jdbcType=TIMESTAMP},
      email_auth = #{emailAuth,jdbcType=CHAR},
      email_auditor = #{emailAuditor,jdbcType=VARCHAR},
      email_time = #{emailTime,jdbcType=TIMESTAMP},
      mobile_auth = #{mobileAuth,jdbcType=CHAR},
      mobile_auditor = #{mobileAuditor,jdbcType=VARCHAR},
      mobile_time = #{mobileTime,jdbcType=TIMESTAMP},
      credit_auth = #{creditAuth,jdbcType=CHAR},
      credit_auditor = #{creditAuditor,jdbcType=VARCHAR},
      credit_time = #{creditTime,jdbcType=TIMESTAMP},
      company_auth = #{companyAuth,jdbcType=CHAR},
      company_auditor = #{companyAuditor,jdbcType=VARCHAR},
      company_time = #{companyTime,jdbcType=TIMESTAMP},
      real_name_auth = #{realNameAuth,jdbcType=CHAR},
      real_name_auditor = #{realNameAuditor,jdbcType=VARCHAR},
      real_name_time = #{realNameTime,jdbcType=TIMESTAMP},
      id_card_auth = #{idCardAuth,jdbcType=CHAR},
      id_card_auditor = #{idCardAuditor,jdbcType=VARCHAR},
      id_card_time = #{idCardTime,jdbcType=TIMESTAMP},
      work_auth = #{workAuth,jdbcType=CHAR},
      work_auditor = #{workAuditor,jdbcType=VARCHAR},
      work_time = #{workTime,jdbcType=TIMESTAMP}
    where member_id = #{memberId,jdbcType=VARCHAR}
  </update>
</mapper>