<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.netloan.dao.borrow.OverdueNotesMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.netloan.entity.borrow.OverdueNotes" >
    <id column="temp_overdue_notes_overdue_notes_id" property="overdueNotesId" jdbcType="VARCHAR" />
    <result column="temp_overdue_notes_repay_notes_detail_id" property="repayNotesDetailId" jdbcType="VARCHAR" />
    <result column="temp_overdue_notes_overdue_result" property="overdueResult" jdbcType="VARCHAR" />
    <result column="temp_overdue_notes_name_remark" property="nameRemark" jdbcType="VARCHAR" />
    <result column="temp_overdue_notes_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_overdue_notes_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_overdue_notes_create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_overdue_notes.overdue_notes_id as temp_overdue_notes_overdue_notes_id, temp_overdue_notes.repay_notes_detail_id as temp_overdue_notes_repay_notes_detail_id, 
    temp_overdue_notes.overdue_result as temp_overdue_notes_overdue_result, temp_overdue_notes.name_remark as temp_overdue_notes_name_remark, 
    temp_overdue_notes.remark as temp_overdue_notes_remark, temp_overdue_notes.creater as temp_overdue_notes_creater, 
    temp_overdue_notes.create_time as temp_overdue_notes_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.netloan.entity.borrow.OverdueNotesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_overdue_notes temp_overdue_notes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_overdue_notes temp_overdue_notes
    where temp_overdue_notes.overdue_notes_id = #{overdueNotesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_overdue_notes
    where overdue_notes_id = #{overdueNotesId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.netloan.entity.borrow.OverdueNotesExample" >
    delete from t_overdue_notes temp_overdue_notes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.netloan.entity.borrow.OverdueNotes" >
    insert into t_overdue_notes (overdue_notes_id, repay_notes_detail_id, 
      overdue_result, name_remark, remark, 
      creater, create_time)
    values (#{overdueNotesId,jdbcType=VARCHAR}, #{repayNotesDetailId,jdbcType=VARCHAR}, 
      #{overdueResult,jdbcType=VARCHAR}, #{nameRemark,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.netloan.entity.borrow.OverdueNotes" >
    insert into t_overdue_notes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="overdueNotesId != null" >
        overdue_notes_id,
      </if>
      <if test="repayNotesDetailId != null" >
        repay_notes_detail_id,
      </if>
      <if test="overdueResult != null" >
        overdue_result,
      </if>
      <if test="nameRemark != null" >
        name_remark,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="overdueNotesId != null" >
        #{overdueNotesId,jdbcType=VARCHAR},
      </if>
      <if test="repayNotesDetailId != null" >
        #{repayNotesDetailId,jdbcType=VARCHAR},
      </if>
      <if test="overdueResult != null" >
        #{overdueResult,jdbcType=VARCHAR},
      </if>
      <if test="nameRemark != null" >
        #{nameRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.netloan.entity.borrow.OverdueNotesExample" resultType="java.lang.Integer" >
    select count(*) from t_overdue_notes temp_overdue_notes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_overdue_notes temp_overdue_notes
    <set >
      <if test="record.overdueNotesId != null" >
        temp_overdue_notes.overdue_notes_id = #{record.overdueNotesId,jdbcType=VARCHAR},
      </if>
      <if test="record.repayNotesDetailId != null" >
        temp_overdue_notes.repay_notes_detail_id = #{record.repayNotesDetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueResult != null" >
        temp_overdue_notes.overdue_result = #{record.overdueResult,jdbcType=VARCHAR},
      </if>
      <if test="record.nameRemark != null" >
        temp_overdue_notes.name_remark = #{record.nameRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        temp_overdue_notes.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_overdue_notes.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_overdue_notes.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_overdue_notes temp_overdue_notes
    set temp_overdue_notes.overdue_notes_id = #{record.overdueNotesId,jdbcType=VARCHAR},
      temp_overdue_notes.repay_notes_detail_id = #{record.repayNotesDetailId,jdbcType=VARCHAR},
      temp_overdue_notes.overdue_result = #{record.overdueResult,jdbcType=VARCHAR},
      temp_overdue_notes.name_remark = #{record.nameRemark,jdbcType=VARCHAR},
      temp_overdue_notes.remark = #{record.remark,jdbcType=VARCHAR},
      temp_overdue_notes.creater = #{record.creater,jdbcType=VARCHAR},
      temp_overdue_notes.create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.netloan.entity.borrow.OverdueNotes" >
    update t_overdue_notes
    <set >
      <if test="repayNotesDetailId != null" >
        repay_notes_detail_id = #{repayNotesDetailId,jdbcType=VARCHAR},
      </if>
      <if test="overdueResult != null" >
        overdue_result = #{overdueResult,jdbcType=VARCHAR},
      </if>
      <if test="nameRemark != null" >
        name_remark = #{nameRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where overdue_notes_id = #{overdueNotesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.netloan.entity.borrow.OverdueNotes" >
    update t_overdue_notes
    set repay_notes_detail_id = #{repayNotesDetailId,jdbcType=VARCHAR},
      overdue_result = #{overdueResult,jdbcType=VARCHAR},
      name_remark = #{nameRemark,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where overdue_notes_id = #{overdueNotesId,jdbcType=VARCHAR}
  </update>
</mapper>